@model GAPT.ViewModels.ApprovalIndexViewModel
@using GAPT.Models
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Faculty Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var collabDepts = Model.CollabDepts;
    var servDepts = Model.ServDepts;
    var faculty = Model.Faculty;
    var proposal = Model.Proposal;
}
<h2>Section E - Faculty Approval</h2>
<div class="btn-group" role="group" aria-label="Basic example">
    <input type="button" class="btn btn-toolbar" value="Section A" onclick="location.href='@Url.Action("General", "Proposal", new { id = Model.Proposal.Id })'" />
    <div class="btn-group">
        <button type="button" class="btn btn-toolbar dropdown-toggle" data-toggle="dropdown">
            Section B <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("Rationale", "Proposal", new { id = Model.Proposal.Id })">Rationale</a></li>
            <li><a href="@Url.Action("Demand", "Proposal", new { id = Model.Proposal.Id })">Demand</a></li>
            <li><a href="@Url.Action("ProgrammeStudy", "Proposal", new { id = Model.Proposal.Id })">Programme of Study</a></li>
            <li><a href="@Url.Action("TentativePs", "Proposal", new { id = Model.Proposal.Id })">Tentative Programme of Study</a></li>
        </ul>
    </div>
    <input type="button" class="btn btn-toolbar" value="Section C" onclick="location.href='@Url.Action("ExternalReview", "Proposal", new { id = Model.Proposal.Id })'" />
    <input type="button" class="btn btn-toolbar" value="Section D" onclick="location.href='@Url.Action("IncomeExpenditure", "Proposal", new { id = Model.Proposal.Id })'" />
    <input type="button" class="btn btn-toolbar" value="Section E" onclick="location.href='@Url.Action("Jump", "Approval", new { id = Model.Proposal.Id })'" />
    @if (Model.Proposal.HasFacultyApproval())
    {
        <input type="button" class="btn btn-toolbar" value="Section F" onclick="location.href='@Url.Action("Jump", "InPrinciple", new { id = Model.Proposal.Id })'" />
    }
</div>
<br><br>
<p>New programmes of study, and programmes which require major amendments, cannot be referred for consideration by Senate (and Council, if applicable), unless the approvals detailed hereunder are available.</p>

    
    @if (faculty != null)
    {

        var rec = faculty.GetRecommendation(proposal.Id);

        if (rec != null)
        {
            <h4>Faculty</h4>
            var color = "";
            if (rec.Selection == true) { color = "green"; } else if (rec.Selection == false) { color = "red"; }
            <table id="faculty" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width: 250px;">Faculty</th>
                        <th style="width: 250px;">Recommendation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="color:@color">@faculty.Name</td>
                        <td>@Html.ActionLink("View", "Details", "RecommendationFics", new { id = rec.Id }, null)</td>
                    </tr>

                </tbody>
            </table>
        }

    }
    else
    {
        <h4>This Proposal has no Faculty</h4>
    }
    @if (collabDepts.Count() > 0)
    {
        <h4>Collaborating Departments</h4>
        <table id="collabDepts" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 250px;">Department</th>
                    <th style="width: 250px;">Endorsement</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ref_Department dept in collabDepts)
                {
                    var end = dept.GetCollabEndorsement(proposal.Id);
                    var color = "";
                    if (end.Selection == true) { color = "green"; } else if (end.Selection == false) { color = "red"; }
                    <tr>
                        <td style="color:@color">@dept.Name</td>
                        <td>@Html.ActionLink("View", "Details", "EndorsementCollab", new { id = end.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
        
    }
    else
    {
        <h4>This Proposal has no Collaborating Departments</h4>
    }
    @if (servDepts.Count() > 0)
    {
        <h4>Servicing Departments</h4>
        <table id="servDepts" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 250px;">Department</th>
                    <th style="width: 250px;">Statement</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ref_Department dept in servDepts)
                {
                    var stm = dept.GetServStatement(proposal.Id);
                    var color = "";
                    if (stm.Selection == true) { color = "green"; } else if (stm.Selection == false) { color = "red"; }
                    <tr>
                        <td style="color:@color">@dept.Name</td>
                        <td>@Html.ActionLink("View", "Details", "StatementServ", new { id = stm.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <h4>This Proposal has no Servicing Departments</h4>
    }
    @if (Model.Proposal.Approval.GetComments().Count() > 0)
    {
        <h4>Comments</h4>
        foreach (Comment c in Model.Proposal.Approval.GetComments())
        {
            <div class="comment">
                <p><b>@c.Description</b></p>
                <p>@c.UserId - @c.Date</p>
                <p>Type: @c.Type</p>
                @Html.ActionLink("View Replies (" + c.GetReplyCount() + ")", "ViewReplies", "Comment", new { cid = c.Id, pid = Model.Proposal.Id, section = "Approval" }, null)<br>
                @if (c.UserId == User.Identity.GetUserName())
                {
                    @Html.ActionLink("Delete", "Remove", "Comment", new { cid = c.Id, rtc = true }, null)
                }


            </div>
            <br>
        }
    }
    else
    {
        <p>No comments yet.</p>
    }


    @using (Html.BeginForm("Save", "Comment"))
    {
    <div class="comment">
        <label>Add comment</label><br>
        <textarea required class="form-control" rows="3" name="@Model.Proposal.Approval.ThreadId"></textarea><br>
        <input type="submit" class="btn btn-success" value="Comment">

    </div>
    <br>
    }
    @Html.HiddenFor(m => m.Proposal.Id)
    <input type="button" class="btn btn-primary" value="Previous" onclick="location.href='@Url.Action("IncomeExpenditure", "Proposal", new { id = Model.Proposal.Id})'" />
    @if (proposal.HasFacultyApproval())
    {
        <input type="button" class="btn btn-primary" value="Next" onclick="location.href='@Url.Action("Jump", "InPrinciple", new { id = Model.Proposal.Id })'" />
    }
    @if (proposal.HasFacultyApprovalRejection() && User.IsInRole(RoleName.Apqru))
    {
        <input type="button" class="btn btn-danger" value="Reset" onclick="location.href='@Url.Action("ResetApprovals", "Approval", new { id = Model.Proposal.Id })'" />
    }
    

